<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700;900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../css/header.css">
    <script src="https://kit.fontawesome.com/f776702b05.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="header flex">
        <div class="header__logo">
            <img src="../../images/logo.svg" alt="">
        </div>
        <div class="header__navbar flex items-center ml-8">
            <div class="header__navbar-item"><a href="#" class="px-8">Home</a></div>
            <div class="header__navbar-item"><a href="#" class="px-8">Products</a></div>
            <div class="header__navbar-item"><a href="#" class="px-8">News</a></div>
            <div class="header__navbar-item"><a href="#" class="px-8">Support</a></div>
            <div class="header__navbar-item"><a href="#" class="px-8">About</a></div>
        </div>
        <div class="header__icon inline-flex items-center ml-auto mr-8">
            <div class="header__search text-2xl px-4">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="header__cart text-2xl px-4">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
    </div>
</body>

</html>